@import 'https://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans:300,400';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400');
/* @include font-face("alk-sanet", "fonts/alk-sanet/alk-sanet-webfont"); */
@include font-face("bpg-algeti", "fonts/bpg-algeti/bpg-algeti-webfont");
@include font-face("bpg-banner", "fonts/bpg-banner-caps/bpg-banner-caps-webfont");
@include font-face("bpg-glaho", "fonts/bpg-glaho-web-caps/bpg-glaho-web-caps-webfont");

body {
  height: 100%;
  background: $white;
  font-family: $mainFont;
  font-weight: 300;
  color: $bgDarken;
}

#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:$bg;
  z-index:9999;
  #status {
    width:40px;
    height:40px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url("../imgs/icons/loader.svg");
    background-repeat:no-repeat;
    background-position:center;
    margin: -20px;
  }
}




p {
  font-family: $secondaryFont;
  font-size: 16px;
  letter-spacing: .4px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $mainFont;
  letter-spacing: .4px;
}

h1 {
  font-size: 30px;
}



*:focus {
  outline: none !important;
}

* {
  margin: 0;
}

.wrapper {
}

.content {
  position: relative;
}
