$white: #ffffff;
$black: #000000;
$grey: #e2e2e2;
$mainColor: #14243B;
$green: #45b29d;
$blackColor: #4e4e4e;
$grayColor: #D5D5D5;
$yellow: #EBD09F;
$bgDarken: rgb(51, 77, 92);
$bg: darken(#334d5c, 10%);
$blue: #1D788B;
$iconColor: #f1c94b;
$red: #E64B60;
$content-bg: #f9f9f9;


$twitterColor: #41abe1;
$facebookColor: #4867aa;
$googlecolor: #db4437;
$linkedinColor: #0077b5;
$mainFont: 'bpg-glaho', sans-serif;
$numberFont: 'Open Sans', sans-serif;
$secondaryFont: 'bpg-algeti', sans-serif;
$englishFont: 'Open Sans', sans-serif;
